# Le Tuple
### Definizione
Sono collezioni di oggetti anche di diversa natura, e sono immutabili.

È possibile accedervi come per le liste, con [ ] [ : ]

In [1]:
t = ('Ciao', 'a', 'tutti', 'i', 'presenti')
print(t)
print(t[2])

('Ciao', 'a', 'tutti', 'i', 'presenti')
tutti

In [2]:
try:
    t[0] = 'Prova'
except:
    print('Impossibile modificare il valore della stringa')

Impossibile modificare il valore della stringa

### Operatori su insiemi

In [3]:
t = (1, 4, 9, 16, 25)
print(5 in t, 9 in t)

False True

In [4]:
l  = [n for n in t]
print( 5 in l, 9 in l)

False True

In [5]:
s = ''.join([str(n) for n in t])
print('5' in s, '9' in s, '7' in s)

True True False

*NB. ogni carattere della stringa viene valutato, non più i numeri originari*

### Particolarità
Per inizializzare una tupla che contiene un solo elemento è necessario includere nella dichiarazione una virgola, in caso contrario le parentesi vengono interpetate come un'espressione e non come una dichiarazione di tupla

In [6]:
t_solitaria = (1)
print(t_solitaria, type(t_solitaria))
t_solitaria = (1,)
print(t_solitaria, type(t_solitaria))

1 <class 'int'>
(1,) <class 'tuple'>

Cosi come per le stringhe le funzioni delle tuple restituiscono una nuova tupla, quindi possono essere riassegnate alla variabile, oppure possono essere trasformate in liste.

In [7]:
t = (0,1,2,3,4,5)
try:
    t[3] = 'x'
except:
    print('operazione non permessa')
l = list(t)
l[3] = 'x'
t = tuple(l)
print(t)

operazione non permessa
(0, 1, 2, 'x', 4, 5)

Una tupla può contenere valori duplicati

In [8]:
t = (0,0,1,1)
print(t)

(0, 0, 1, 1)

# Set
Come le tuple sono strutture che permettono di conservare molteplici elementi anche di tipo non omogeneo, sono però mutabili ed hanno degli operatori speciali. Non sono però strutture ordinate.

In [9]:
s = {0,0,1,1}
print(set)

<class 'set'>

In [10]:
try:
    s[0]
except:
    print('Il set non è una struttura ordinata')

Il set non è una struttura ordinata

#### Operazioni  con i set

In [11]:
s.add('x')
print(s)
s.remove('x')
print(s)

{0, 1, 'x'}
{0, 1}

In [17]:
import time

start = time.time()
99999 in l_grande
end = time.time()
print('ricerca in lista con operatore "in" eseguita in:', (end-start))

ricerca in lista con operatore "in" eseguita in: 0.0020363330841064453

In [18]:
start = time.time()
99999 in s_grande
end = time.time()
print('ricerca in set con operatore "in" eseguita in:', (end-start))

ricerca in set con operatore "in" eseguita in: 0.0

È possibile convertire anche una stringa in un set

In [19]:
str_to_set = set('tutto')
print(str_to_set)

{'u', 'o', 't'}

#### Altri operatori sui set:

*Unione:*

In [21]:
maiusc = {'A', 'B', 'C'}
minusc = {'a', 'b', 'c'}
lettere = maiusc | minusc
print(lettere)

{'c', 'a', 'b', 'C', 'B', 'A'}

*Intersezione:*

In [23]:
vocali_minuscole = {'a','e','i','o','u'}
print(maiusc & minusc)
print(minusc & vocali_minuscole)

set()
{'a'}

*Differenza:*

In [26]:
print(minusc - vocali_minuscole)

{'c', 'b'}

*XOR:*

In [28]:
print(minusc ^ vocali_minuscole)

{'i', 'b', 'c', 'e', 'o', 'u'}

#### Set Comprehension

In [29]:
set_quadrati = {n**2 for n in range(10)}
print(set_quadrati)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}