# Numeri in python
Python utilizza oggetti complessi per la gestione dei numeri, a differenza di altri linguaggi di programmazione la memoria è gestita "dinamicamente", ovvero, per molti tipi di dato numerici non ci sono limiti architetturali di memoria se non quelli fisici.

In [1]:
type(1.5)

float

I numerei decimali invece sono float, ovvero unp dei pochi tipi primitivi di python

#### Possibili codifiche dei numeri in python:
- Esadecimale (0x) :

In [2]:
0x103f3

66547

- Binaria (0b):

In [3]:
0b0101001

41

- Ottale (0o):

In [4]:
0o102

66

Python inoltre supporta nativamente i numeri complessi (a+bj).

In [5]:
c = 2 + 1j
print(c, type(c))

(2+1j) <class 'complex'>

In [6]:
print(c.real)
print(c.imag)

2.0
1.0

Inoltre tutte le operazioni matematiche fondamentali sono supportate

In [7]:
c_a = -1 + 4j
c_b = 3 + 11j

print(c_a + c_b)
print(c_a * c_b)

(2+15j)
(-47+1j)

In [8]:
print(type(-1))
print(type((-1)**0.5))

<class 'int'>
<class 'complex'>

# True, False, None

In [9]:
[n for n in range(23, 52) if n % 3 == 0]

[24, 27, 30, 33, 36, 39, 42, 45, 48, 51]

In [10]:
[(n if n % 2 == 0 else -n) for n in range(23, 52) if n % 3 == 0]

[24, -27, 30, -33, 36, -39, 42, -45, 48, -51]

In [11]:
a = True
b = False
try: 
    c = 10/0
except: 
    c = None
print(a, b, c)
try: 
    c + 2
except: 
    print('\t    - Non è possibile eseguire operazioni su None')

True False None
	    - Non è possibile eseguire operazioni su None

## Esercizi:

1. Data una stringa "s" contare il numero di doppie presenti in essa

In [12]:
s = 'sette'
doppie = 0
for i in range(len(s)-1):
    if s[i]==s[i+1]:
        doppie +=1
print(doppie)

1

2. Creare un dizionario con le seguenti entries:
    cane:domestico
    gatto:domestico
    leopardo:selvatico
    zebra:selvatico
   
   creare una struttura che rovescia il dizionario che risulti in nuovo dizionario
   “domestico”: [“cane”, “gatto”]
   “selvatico”: [“leopardo”, “zebra”]

In [6]:
d = {
    'cane': 'domestico',
    'gatto' : 'domestico',
    'leopardo' : 'selvatico',
    'zebra' : 'selvatico',
}

dr = dict()
for k, v in d.items():
    if v in dr:
        dr[v].append(k)
    else:
        dr[v]=[k]
print(dr)

domestico
{'domestico': ['cane', 'gatto'], 'selvatico': ['leopardo', 'zebra']}

3. Dato l’elenco città sotto forma di dizionario uguale a quello che abbiamo visto nell’esercizio:
    elenco_citta = dict()

    Utilizza come identifictivo la chiave per salvare il valore
    elenco_citta['Roma'] = 'Francia'

    #Sovrascrivendo il valore corrispondente ad una chiave esistente verrà effettuata la sostituzione
    elenco_citta['Roma'] = 'Italia'
    elenco_citta['Napoli'] = 'Italia'
    elenco_citta['Barcelona'] = 'Spagna'
    print(elenco_citta)
    
    creare una lista dei soli nomi dei PAESI corrispondenti alle città che contengono la lettera “R” sia minuscola che maiuscola in modo tale che le lettere dei paesi siano invertite e che la prima lettera del paese sia maiuscola (mentre tutte le altre minuscole).
    
    R è in Roma ed in Barcelona
    lista dei paesi [Italia, Spagna]
    invertiamo le stringhe
    [ailatI, angapS]
    mettiamo a posto i caratteri maiuscoli e minuscoli come richiesto
    [Ailati, Angaps]

In [ ]:
elenco_citta = dict()
elenco_citta['Roma'] = 'Italia'
elenco_citta['Napoli'] = 'Italia'
elenco_citta['Barcellona'] = 'Spagna'
elenco_reversed = [v[::-1].lower().title() for k, v in elenco_citta.items() if 'R' in k.upper()]
print(elenco_reversed)